extends layout

block content
  div.row
    div(class="col-md-4")
        div.section-user
            img(src="https://placeholder.com/350x350", class="rounded-circle", width="70")
            span Nombre del usuario
    div(class="col-md-8")
        h1  Título de la publicación
        div(class="card mb-2")
            div.card-header 
            span Títutlo de la publicación
                small  - 2018-09-01 11:00:00
            div.card-body 
            p Contenido de la publicación

        